.RoundedButtonGroup {
  margin-top:15px;
  height: 40px;
  width:100%;
  position: relative;
  z-index: 0;
}

.roundedButtonWrapper {
  cursor: pointer;
  display: inline-block;
  float: right;
  margin-left: 0px;
  text-decoration: none;
  text-align: center;
}

.roundedButtonWrapper.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.RoundedButtonGroup .roundedButton {
  align-items: center;
  background-color: transparent;
  font-size: 15px;
  font-weight: 500;
  justify-content: center;
  height: var(--height);
  line-height: var(--height);
  padding: 5px;
  text-transform: uppercase;
  transition: var(--sidebar-transition);
  z-index: 0;
  cursor: pointer;
}

.RoundedButtonGroup .roundedButtonWrapper .measurement_panel {
  align-items: center;
  background-color: transparent;
  border: 1px solid #209c8c;
  display: flex;
  color: #fdca9a;
  font-size: 15px;
  font-weight: 500;
  justify-content: center;
  height: var(--height);
  line-height: var(--height);
  padding: 10px;
  text-transform: uppercase;
  transition: var(--sidebar-transition);
  z-index: 1;
}

.roundedButtonWrapper
  .roundedButton
  svg
  .roundedButtonWrapper
  .roundedButton
  span {
  margin: 0 2px;
}

.roundedButtonWrapper .roundedButton i {
  line-height: 15px;
  font-size: 15px;
}

.bottomLabel {
  color: #fdca9a;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  margin-top: 8px;
  text-align:center;
  justify-content: center;
  display: inline-block;
}

.roundedButtonWrapper:first-child {
  margin-left: 0;
}

.roundedButtonWrapper:hover .roundedButton {
  background-color: var(--box-background-color);
  color: var(--ui-gray-dark);
}

.roundedButtonWrapper.active .roundedButton {
  background-color: black;
  border-color: black;
  border-radius:0;
  color: var(--ui-gray-dark);
  z-index: 2;
}

.roundedButtonWrapper:hover .measurement_panel {
  background-color: var(--box-background-color);
  color: var(--ui-gray-dark);
}

.roundedButtonWrapper.active .measurement_panel {
  background-color: black;
  border-color: black;
  border-radius:none;
  color: var(--ui-gray-dark);
  z-index: 2;
}
