.editable
    text-align: right
    margin-top: 10px
    .blue-div
      color white
      background-color: #082024
      position relative
      left 50%
      transform: translateX(-50%)
      width 95%

      textarea
        width: 100%
        height inherit
        font-size: large
        height 300px
        border-radius: 5px
        padding-left: 5px
        // top: 50%
        // position: relative
        // transform: translateY(-50%)
        color: black
        border: none
        outline: none
        resize: none
        margin-bottom: 5px

    .btn-reject
      border-radius: 5px
      color: black
      height 40px
      border: none
      width: 25%
      outline: none
      margin-right: 5px
    .btn-accept
      border-radius: 5px
      background-color: #427ab7
      color: white
      border: none
      height 40px
      width: 25%
      outline: none
