.ai_results
  margin-top: 10px
  .btn-results
      border-radius: 5px
      background-color: #427ab7
      color: white
      border: none
      height 40px
      width: 40%
      outline: none
      padding : 10px
  .btn-context-flow
      border-radius: 5px
      background-color: #427ab7
      color: white
      border: none
      height 40px
      width: 40%
      outline: none
      padding : 10px
      margin-left: 30%
	  pointer: cursor
.sc-bdVaJa
  position: absolute
  padding-top: 50px
  top: 18%
  left: 16.5%
  width: 65%
  background-color: black
.iMnhxj
  border: 1px solid #427ab7 !important
  padding-top: 40px !important
  .tab
    min-height: 40vh
  ul
    float: left;
  a
    background black
    border-radius 10px
    color white
    &:hover
      color #427ab7 !important
      cursor: pointer
  .content
    margin-top: 50px
    th
      text-align: center

  .react-tab
    min-height: 40vh
  .selected
    a[data-tab-id]
      color #427ab7 !important

  input
    width: 100%
    border-radius: 5px
    border: none
    outline: none
    padding-left: 5px

  .table-image
    height: 300px
    width: 250px
    position: absolute
    top: 25%
    right: 4%
.btn-edit
  border-radius: 10px
  background-color: #427ab7
  color: white
  border: none
  height 35px
  width: 10%
  outline: none
  float right
  margin-right: 29.5%

.btn-save
  border-radius: 10px
  color: black
  border: none
  height 35px
  width: 10%
  outline: none
  float right
  margin-right 10px

.btn-close
  border-radius: 10px
  color: black
  border: none
  height 35px
  width: 10%
  outline: none
  margin-right 10px
