
$headerRowHeight = 63px

.tableList
  background-color: var(--primary-background-color)
  height: 100%;
  width: 100%;

  .tableListHeader
    background-color: var(--ui-gray-darker)
    color: var(--text-secondary-color)
    display: flex
    height: $headerRowHeight
    line-height: $headerRowHeight
    margin-top: 2px
    overflow: hidden
    width: 100%

    .tableListHeaderTitle
      color: #898c8d
      font-size: 18px
      font-weight: 300
      line-height: $headerRowHeight
      padding: 0 10px
      text-align: left
      flex: 1;

    .numberOfItems
      color:  #898c8d
      float: right
      font-weight: 300
      font-size: 18px
      max-width: 54px
      height: $headerRowHeight
      line-height: 66px
      flex: 1;
